<div class="about-section">
    <h1>ABOUT THIS PAGE</h1>
    <p>This is a Single Page Application developed using Angualr Framework</p>
    <p>Majorly developed for making To Do list which works efficiently on any browser </p>
  </div>
  
  <h2 style="text-align:center">Contact Me</h2>
  <div class="row">
    <div class="column">
      
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Al-Fareed</h2>
          <p class="title">Web Developer</p>
          <p>If you like my work click the contact button below.</p>
          
          <p><a class="button" style="text-decoration: none;" href="mailto:alfareedss472@gmail.com">Contact</a></p>
        </div>
      </div>
    </div>
    
    <div class="column">
     
    </div>
  </div>